In [43]:
dic_old = (["Laura", 1234,"supercalo"], ["Santi", 1523,"supercala"], ["Amelia",151515,"supercalu"])
dic_new = {}

for item in dic_old:
    key = item[1]
    del item[1]
    dic_new[key] = item
    print(dic_new)

{1234: ['Laura', 'supercalo']}
{1234: ['Laura', 'supercalo'], 1523: ['Santi', 'supercala']}
{1234: ['Laura', 'supercalo'], 1523: ['Santi', 'supercala'], 151515: ['Amelia', 'supercalu']}

In [38]:
frase = [1412,1252,3125,1234]
print(frase)

frase.insert(0, 459)
print(frase)

[1412, 1252, 3125, 1234]
[459, 1412, 1252, 3125, 1234]

In [54]:
a = 12.65123
b = 153.5555
print(f"{a:6.2f} ademas de {b:5.1f}")
print(f"{b:6.2f} ademas de {a:5.1f}")

 12.65 ademas de 153.6
153.56 ademas de  12.7

In [63]:
b = 18
if b>10:
    print("coca")
elif b>15:
    print("otro")
print(b)

coca
18

In [74]:
lista = [1, 1, 1, 2, 2, 2, 3]
print(lista)
lista.remove(2)
print(lista)

[1, 1, 1, 2, 2, 2, 3]
[1, 1, 1, 2, 2, 3]

In [94]:
listas = "potter, hermione, tu mama"
print(listas.split())

['potter,', 'hermione,', 'tu', 'mama']

In [105]:
def f1(i):
    return i**2

def f2(j):
    return (f1(j+1))

print(f2(3))

16